@import "src/theme/theme-variables";

.container {
  text-align: center;
  padding: 1em;
  h3 {
    text-align: left;
  }
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.card {
  transition: transform 450ms;
  &:hover {
    transform: scale(1.03);
  }
  .alignLeft {
    text-align: left;
  }
  .link {
    color: $blue;
    cursor: pointer;
  }
}

button {
  float: right;
}
