<div class="container">
  <!-- <p>  -->
  <button color="accent" mat-button (click)="openDialog()">Add Task</button>
  <h3 class="mat-display-1">Please find below your tasks</h3>
  <!-- </p> -->
  <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
  <div *ngIf="!isLoading" fxLayout="row wrap" fxLayoutGap="26px grid">
    <div *ngIf="showError">{{ errorMsg }}</div>
    <div fxFlex="33.3%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let task of tasks">
      <mat-card class="mat-elevation-z4 card">
        <mat-card-header class="alignLeft">
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content class="alignLeft">
          <div *ngIf="checkTaskValidity(task)" class="doneButton">
            <button color="accent" mat-button (click)="markAsDone(task)">Mask as done</button>
          </div>
          <div>
            <h2 class="mat-h2 mat-title bolder">{{ task?.title }}</h2>
          </div>
          <div>
            <span class="mat-body mat-body-1 bolder">Description:</span>
            <span>{{ task.description }}</span>
          </div>
          <div>
            <span class="mat-body mat-body-1 bolder">End Date:</span>
            <span>{{ task.dueDate | date }}</span>
          </div>
          <span class="mat-small mat-caption link" (click)="openDetailPage(task)">More information</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
