<div class="container">
  <app-form-shell>
    <div form-content>
      <form (ngSubmit)="addTask(taskForm.value)" [formGroup]="taskForm" #filForm="ngForm" novalidate>
        <h3 class="mat-h3 subheading-2">Enter details to add a task</h3>
        <div>
          <mat-form-field appearance="outline">
            <input matInput [placeholder]="'Title'" formControlName="title" />
            <mat-error *ngIf="taskForm.controls.title.invalid"> Required </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" required>
              <mat-option *ngFor="let type of priorities" [value]="type.value">
                {{ type.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="taskForm.controls.priority.invalid"> Required </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a end date</mat-label>
            <input
              matInput
              [min]="minDate"
              [matDatepickerFilter]="dateFilter"
              [matDatepicker]="picker"
              formControlName="dueDate"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="taskForm.controls.dueDate.invalid"> Required </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="Description" formControlName="description"> </textarea>
            <mat-error *ngIf="taskForm.controls.description.hasError('maxlength')"> Max length is 30. </mat-error>
          </mat-form-field>
        </div>
        <input class="hidden" type="submit" />
      </form>
    </div>
  </app-form-shell>
</div>
